# Laboratorio 4

## Equipo U

#### Ana Laura Correa Cabrales
#### Carlos Eduardo Ochoa Arambula
#### Pablo Francisco Vargas Castellanos
#### Emilio De La Torre Jimenez

El propósito: Que puedas describir los efectos cuantitativos en el precio durante los comunicados de indicadores macroeconómicos, así como el detectar oportunidades de inversión a partir de los resultados obtenidos. Lo anterior, utilizando lo que se conoce como "Calendario Económico", y más en particular, aquel que incorpora información de las principales economías del mundo por lo que es ampliamiente utilizado en el mercado de Forex.

In [2]:
import numpy as np
import pandas as pd
import plotly.graph_objs as go
from plotly.subplots import make_subplots
from plotly.offline import download_plotlyjs, init_notebook_mode, plot, iplot
import plotly.offline as py
from collections import Counter
import matplotlib.pyplot as plt
import plotly.graph_objects as go
import datetime as dt
import warnings
warnings.filterwarnings("ignore")

In [3]:
#Cargamos los datos, y eliminamos los que no tienen valor
df = pd.read_csv("calendario_economico.csv") 
df.dropna(inplace = True)

In [4]:
#buscamos y agrupamos nuestros datos en Data Frames
data1=df.loc[df['Name'] == 'Industrial Production s.a. (MoM)']
IndProduction=data1.loc[df['Country'] == 'European Monetary Union']
IndProduction=IndProduction.reset_index(drop=True)
data2=df.loc[df['Name'] == 'Retail Sales (MoM)']
RetailSales=data2.loc[df['Country'] == 'European Monetary Union']
RetailSales=RetailSales.reset_index(drop=True)

In [5]:
#Date time a la variable "timestamp" para poder despues buscarla en los precios 
IndProduction['timestamp']=pd.to_datetime(IndProduction['timestamp'])
IndProduction['timestamp']=IndProduction['timestamp'].dt.tz_localize('UTC')
RetailSales['timestamp']=pd.to_datetime(RetailSales['timestamp'])
RetailSales['timestamp']=RetailSales['timestamp'].dt.tz_localize('UTC')

In [6]:
#definimos escenarios por restricciones
def escenario(x):
    x['escenario']= x['actual']
    for i in range(len(x)):
        if x['actual'][i] >= x['consensus'][i] >= x['previous'][i]:
            x['escenario'][i] = "A"
        elif x['actual'][i] >= x['consensus'][i] < x['previous'][i]:
            x['escenario'][i]="B"
        elif x['actual'][i] < x['consensus'][i] >= x['previous'][i]:
            x['escenario'][i]="C"
        elif x['actual'][i] < x['consensus'][i] < x['previous'][i]:
            x['escenario'][i]="D"
    return x

In [7]:
RS=escenario(RetailSales)
IP=escenario(IndProduction)

In [60]:
#cargamos los datos de los precios del Euro-Dolar
df = pd.read_csv("precios_historicos_eurusd.csv") 
df['timestamp']=pd.to_datetime(df['timestamp'])
df['timestamp']=df['timestamp'].dt.tz_localize('UTC')

In [59]:
#checando valores en precios EUR/USD con misma hora que nuestro calendario economico
#Data frame con los valores que coinciden las horas
comparacionRS=df[df.timestamp.isin(RS.timestamp)]
comparacionIP=df[df.timestamp.isin(IP.timestamp)]

In [61]:
#funcion tomar los indices de media hora antes y despues
def getprices(DF):
    for i in range(len(DF)):
        indices=[int(DF.index[i]-6)]
        x=-6
        for j in range(13): 
            x=x+1
            indices.append(int(DF.index[i])+x)
    
    return precios

In [57]:
precios=df.iloc[indices]

                    timestamp     open     high      low    close
918 2009-01-09 09:30:00+00:00  1.36789  1.36829  1.36684  1.36781
919 2009-01-09 09:35:00+00:00  1.36780  1.36851  1.36731  1.36756
920 2009-01-09 09:40:00+00:00  1.36758  1.36776  1.36716  1.36767
921 2009-01-09 09:45:00+00:00  1.36761  1.36776  1.36696  1.36732
922 2009-01-09 09:50:00+00:00  1.36731  1.36921  1.36722  1.36896
923 2009-01-09 09:55:00+00:00  1.36896  1.37036  1.36856  1.36901
924 2009-01-09 10:00:00+00:00  1.36941  1.37326  1.36927  1.37226
925 2009-01-09 10:05:00+00:00  1.37202  1.37256  1.37161  1.37166
926 2009-01-09 10:10:00+00:00  1.37168  1.37221  1.37091  1.37121
927 2009-01-09 10:15:00+00:00  1.37116  1.37126  1.37026  1.37126
928 2009-01-09 10:20:00+00:00  1.37131  1.37246  1.37086  1.37136
929 2009-01-09 10:25:00+00:00  1.37136  1.37211  1.37056  1.37116
930 2009-01-09 10:30:00+00:00  1.37114  1.37231  1.37076  1.37231
931 2009-01-09 10:35:00+00:00  1.37231  1.37286  1.37116  1.37122